$magenta: #ff267e
$green: #05C48A
$green-hover: #078661
$white: #FFFFFF
$new-gray: #E8E8E8
$blue: #005
$blue-dark: #00003D
$text-shadow-blue: 0px 0px 15px #ff3184, 0px 0px 15px #ff3184, 0px 4px 6px #ff3184
$text-shadow-min-dark: 2px 5px 4px rgba(0, 0, 0, 0.25)
$dark: #111218



//new
$font-suisse-semb: SuisseIntl-SemiBold, sans-serif
$font-suisse-reg: SuisseIntl-Regular, sans-serif
$font-suisse-med: SuisseIntl-Medium, sans-serif

$font-alumni-400: AlumniSans-Regular, sans-serif
$font-alumni-700: AlumniSans-Bold, sans-serif


.overflow
  overflow-x: hidden !important

body

  img
    max-width: 100%
    height: auto

body
  &.light
    background: $blue-dark
    .fav__page
      background: $blue-dark
    .custom-drop
      background: rgba(1, 1, 90, 0.70)

  &.dark
    background: $dark
    .fav__page
      background: $dark
    .custom-drop
      background: rgba(29, 31, 41, 0.70)
    .welcome
      &__bg
        background: url("../img/bg-desc-dark.png") no-repeat 50% 0/cover
        @media screen and (max-width: 1024px)
          background: url("../img/bg-tab-dark.png") no-repeat 50% 0/cover
        @media screen and (max-width: 550px)
          background: url("../img/bg-mob-dark.png") no-repeat 50% 0/cover



.fav__page
  user-select: none
  -webkit-tap-highlight-color: transparent
  &.overflow
    overflow: hidden

.custom-btn
  border-radius: 12px
  color: $blue
  background: $green
  font-family: $font-suisse-semb
  font-size: 24px
  line-height: 24px
  text-transform: uppercase
  display: flex
  align-items: center
  justify-content: center
  width: 400px
  height: 90px
  position: relative
  z-index: 2
  transition: background-color .3s ease
  &:hover
    background: $green-hover
  &.hidden
    display: none
  @media screen and (max-width: 500px)
    width: calc(100% - 40px)
    text-align: center
    height: 80px
    font-size: 21px
    line-height: 21px

.custom-drop
  border-radius: 12px
  border: 1px solid $white
  width: 100%
  margin: 0 auto
  cursor: pointer
  outline: none!important
  position: relative
  text-align: left
  &[open]
    .custom-drop-title:before
      transform: translateY(-50%) rotate(-45deg)
    .custom-drop-title:after
      transform: translateY(-50%) rotate(45deg)
  .custom-drop-title:before
    right: 28px
    transform: translateY(-50%) rotate(45deg)
  .custom-drop-title:after
    transform: translateY(-50%) rotate(-45deg)
    right: 38px
  &-title
    font-family: $font-suisse-med
    font-size: 22px
    line-height: 22px
    color: $white
    text-transform: uppercase
    letter-spacing: 1.1px
    padding: 25px 56px 23px 30px
    position: relative
    @media screen and (max-width: 550px)
      font-size: 17px
      line-height: 17px
    &:before,&:after
      content: ""
      background: $white
      width: 4px
      height: 18px
      display: block
      position: absolute
      top: 50%
      z-index: 3
      @media screen and (max-width: 550px)
        height: 16px
  summary::-webkit-details-marker
    display: none
  > summary
    list-style: none
  &-txt
    cursor: default
    padding: 30px
    @media screen and (max-width: 550px)
      padding: 20px 20px
    &-wrap
      height: 400px
      overflow-y: scroll
      font-family: $font-suisse-med
      font-size: 14px
      line-height: 28px
      color: $white
      letter-spacing: .02em
      padding: 0 20px 0 0
      @media screen and (max-width: 550px)
        padding: 0 15px 0 0
      &::-webkit-scrollbar
        width: 4px
        height: 80%
        background: rgba(5, 196, 138, 0.4)
      &::-webkit-scrollbar-thumb
        background-color: $green
        width: 4px

      p
        font-family: $font-suisse-med
        font-size: 14px
        line-height: 28px
      span
        font-family: $font-suisse-med
        display: block
        padding-left: 15px
        a
          font-family: $font-suisse-med
          color: $white
          text-decoration: underline
          &:hover
            text-decoration: none

      .retreat1
        font-family: $font-suisse-med
        padding-left: 30px


.welcome
  padding: 115px 0 40px
  position: relative
  &__bg
    position: absolute
    top: -60px
    left: 0
    width: 100%
    height: 1675px
    background: url("../img/bg-desc.png") no-repeat 50% 0/cover
    @media screen and (max-width: 1024px)
      background: url("../img/bg-tab.png") no-repeat 50% 0/cover
    @media screen and (max-width: 550px)
      background: url("../img/bg-mob.png") no-repeat 50% 0/cover
  &__container
    max-width: 1180px
    padding: 0 30px
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: flex-end
  &__wrap
    max-width: 495px
    margin: 0 0 130px
  &__title
    position: relative
    max-width: 470px
    margin: 0 0 5px
  &__sub
    transform: rotate(-13.172deg)
    position: absolute
    bottom: -10px
    left: -50px
    font-family: $font-alumni-700
    color: $white
    font-size: 34px
    line-height: 44px
    text-transform: uppercase
    display: flex
    align-items: center
    justify-content: center
    width: 115px
    height: 35px
    background: url("../img/welcome/sub-bg.svg") no-repeat 0 0/contain
  &__subtitle
    font-family: $font-alumni-700
    color: $white
    font-size: 41px
    line-height: 44px
    text-transform: uppercase
    margin: 0 0 10px
  &__text
    font-size: 24px
    line-height: 26px
    color: $white
    font-family: $font-alumni-400
  &__row
    padding: 20px 15px 0
    display: flex
    overflow-x: scroll
    gap: 23px
    margin: 0 auto 50px
    position: relative
    z-index: 20
    &::-webkit-scrollbar
      display: none
    &-wrap
      display: flex
      flex-direction: column
      gap: 23px
  &__btn
    margin: 0 auto
  &__item
    display: flex
    flex-direction: column
    max-width: 395px
    min-width: 395px
    height: 135px
    padding: 10px 20px
    border: 1px solid rgba(255, 255, 255, 0.6)
    border-radius: 10px
    position: relative
    z-index: 2
    cursor: pointer
    transition: transform .3s ease
    &:hover
      transform: translateY(-10px)
      &::before
        background: rgba(255, 255, 255, 0.10) url("../img/welcome/bg-card-hover.png") no-repeat 50% 0/cover
    &::before
      content: ''
      position: absolute
      border-radius: 10px
      width: 100%
      height: 100%
      z-index: -1
      top: 0
      left: 0
      background: rgba(255, 255, 255, 0.10) url("../img/welcome/bg-card.png") no-repeat 50% 0/cover
      backdrop-filter: blur(10px)
      transition: .3s ease
    &::after
      white-space: nowrap
      display: inline-flex
      align-items: center
      justify-content: center
      position: absolute
      left: 50%
      top: -19px
      transform: translateX(-50%)
      font-family: $font-alumni-700
      color: $white
      background: $green
      padding: 6.5px 18px
      font-size: 34px
      line-height: 25px
      text-transform: uppercase
      background: $green
      border-radius: 50px
    &._done
      border: 1px solid $green
      &:hover
        transform: translateY(0)
      &::after
        content: 'Подія додана'
      &::before
        background: url("../img/welcome/bg-card-hover.png") no-repeat 50% 0/cover
      .welcome__item-row,
      .welcome__item-max-title
        opacity: .3
    &-row
      display: flex
      gap: 15px
      align-items: center
      margin: 0 0 7px
    &-title
      flex: 1 1 auto
      display: flex
      gap: 5px
      align-items: center
      text-transform: uppercase
      span
        font-family: $font-alumni-400
        font-size: 17px
        color: $white
    &-date
      font-family: $font-alumni-400
      font-size: 17px
      color: $white
    &-max-title
      flex: 1 1 auto
      font-family: $font-alumni-700
      font-size: 30px
      line-height: 26px
      color: $white
      text-transform: uppercase
      margin: 0 0 10px
    &-info
      display: flex
      justify-content: space-between
      gap: 10px
    &-bid
      font-family: $font-alumni-400
      font-size: 17px
      color: $white
      line-height: 19px
      padding: 3px 12px
      border-radius: 12px
      background: $magenta
    &-cof
      font-family: $font-alumni-400
      font-size: 28px
      color: $blue-dark
      line-height: 25px
      padding: 0 12px
      border-radius: 12px
      background: $white

.detail
  padding: 30px 0 40px
  &__container
    max-width: 1300px
    padding: 0 30px
    margin: 0 auto
  &__text
    font-family: $font-suisse-reg
    text-align: center
    font-size: 12px
    line-height: 16px
    margin: 0 0 40px
    color: rgba(255, 255, 255, 0.6)







@keyframes lightWelcome
  0%
    opacity: .5
    transform: scale(.8)
  50%
    opacity: 1
    transform: scale(1)
  100%
    opacity: .5
    transform: scale(.8)


@keyframes rotateAnimation
  0%
    transform: rotate3d(0, 1, 0, -30deg)
  50%
    transform: rotate3d(0, 1, 0, 30deg)
  100%
    transform: rotate3d(0, 1, 0, -30deg)





