.fav__page.overflow
    .welcome
        .welcome__bg
        .welcome__container
            .welcome__wrap
                .welcome__title
                    img(src='img/welcome/title.svg' alt='FAVBET')
                    .welcome__sub ПС-С-С
                .welcome__subtitle АФІШУЄМО ДЛЯ ТЕБЕ ВСЕ, ЩО ЗНАЄМО
                .welcome__text Вагаєшся, на яку спортивну подію і який саме прогноз зробити? Скористайся прогнозом від FAVBET, які ми регулярно оновлюємо. Додавай його собі в картку — залишайся всередині гри.
        .welcome__row(id="draggableContainer")
            .welcome__row-wrap
                .welcome__item
                    .welcome__item-row
                        .welcome__item-title
                            img(src='img/welcome/fav.svg' alt='FAVBET')
                            span ЄВРОПА | ЛІГА ЧЕМПІОНІВ. ЖІНКИ
                        .welcome__item-date 28.12
                    .welcome__item-max-title Рома – Баварія Мюнхен
                    .welcome__item-info
                        .welcome__item-bid Перемога Баварія Мюнхен
                        .welcome__item-cof 3.60
                .welcome__item
                    .welcome__item-row
                        .welcome__item-title
                            img(src='img/welcome/fav.svg' alt='FAVBET')
                            span АФРИКА | КУБОК АФРИКАНСЬКИХ НАЦІЙ 2023. КОТ-Д
                        .welcome__item-date 28.12
                    .welcome__item-max-title Gen.G Global Academy – Kwangdong Freecs Challengers
                    .welcome__item-info
                        .welcome__item-bid Перемога Баварія Мюнхен
                        .welcome__item-cof 3.60
            .welcome__row-wrap
                .welcome__item
                    .welcome__item-row
                        .welcome__item-title
                            img(src='img/welcome/fav.svg' alt='FAVBET')
                            span ЄВРОПА | ЛІГА ЧЕМПІОНІВ. ЖІНКИ
                        .welcome__item-date 28.12
                    .welcome__item-max-title Рома – Баварія Мюнхен
                    .welcome__item-info
                        .welcome__item-bid Перемога Баварія Мюнхен
                        .welcome__item-cof 3.60
                .welcome__item
                    .welcome__item-row
                        .welcome__item-title
                            img(src='img/welcome/fav.svg' alt='FAVBET')
                            span АФРИКА | КУБОК АФРИКАНСЬКИХ НАЦІЙ 2023. КОТ-Д
                        .welcome__item-date 28.12
                    .welcome__item-max-title Gen.G Global Academy – Kwangdong Freecs Challengers
                    .welcome__item-info
                        .welcome__item-bid Перемога Баварія Мюнхен
                        .welcome__item-cof 3.60
            .welcome__row-wrap
                .welcome__item._done
                    .welcome__item-row
                        .welcome__item-title
                            img(src='img/welcome/fav.svg' alt='FAVBET')
                            span ЄВРОПА | ЛІГА ЧЕМПІОНІВ. ЖІНКИ
                        .welcome__item-date 28.12
                    .welcome__item-max-title Рома – Баварія Мюнхен
                    .welcome__item-info
                        .welcome__item-bid Перемога Баварія Мюнхен
                        .welcome__item-cof 3.60
                .welcome__item
                    .welcome__item-row
                        .welcome__item-title
                            img(src='img/welcome/fav.svg' alt='FAVBET')
                            span АФРИКА | КУБОК АФРИКАНСЬКИХ НАЦІЙ 2023. КОТ-Д
                        .welcome__item-date 28.12
                    .welcome__item-max-title Gen.G Global Academy – Kwangdong Freecs Challengers
                    .welcome__item-info
                        .welcome__item-bid Перемога Баварія Мюнхен
                        .welcome__item-cof 3.60
            .welcome__row-wrap
                .welcome__item
                    .welcome__item-row
                        .welcome__item-title
                            img(src='img/welcome/fav.svg' alt='FAVBET')
                            span ЄВРОПА | ЛІГА ЧЕМПІОНІВ. ЖІНКИ
                        .welcome__item-date 28.12
                    .welcome__item-max-title Рома – Баварія Мюнхен
                    .welcome__item-info
                        .welcome__item-bid Перемога Баварія Мюнхен
                        .welcome__item-cof 3.60
                .welcome__item._done
                    .welcome__item-row
                        .welcome__item-title
                            img(src='img/welcome/fav.svg' alt='FAVBET')
                            span АФРИКА | КУБОК АФРИКАНСЬКИХ НАЦІЙ 2023. КОТ-Д
                        .welcome__item-date 28.12
                    .welcome__item-max-title Gen.G Global Academy – Kwangdong Freecs Challengers
                    .welcome__item-info
                        .welcome__item-bid Перемога Баварія Мюнхен
                        .welcome__item-cof 3.60
            .welcome__row-wrap
                .welcome__item
                    .welcome__item-row
                        .welcome__item-title
                            img(src='img/welcome/fav.svg' alt='FAVBET')
                            span ЄВРОПА | ЛІГА ЧЕМПІОНІВ. ЖІНКИ
                        .welcome__item-date 28.12
                    .welcome__item-max-title Рома – Баварія Мюнхен
                    .welcome__item-info
                        .welcome__item-bid Перемога Баварія Мюнхен
                        .welcome__item-cof 3.60
                .welcome__item
                    .welcome__item-row
                        .welcome__item-title
                            img(src='img/welcome/fav.svg' alt='FAVBET')
                            span АФРИКА | КУБОК АФРИКАНСЬКИХ НАЦІЙ 2023. КОТ-Д
                        .welcome__item-date 28.12
                    .welcome__item-max-title Gen.G Global Academy – Kwangdong Freecs Challengers
                    .welcome__item-info
                        .welcome__item-bid Перемога Баварія Мюнхен
                        .welcome__item-cof 3.60
        a(href='#').welcome__btn.custom-btn Додати всі події
    .detail
        .detail__container
            .detail__text Звертаємо увагу, що прогнози від FAVBET носять інформаційний характер і ми не забовʼязуємо приймати участь у букмекерському парі здійснюючи ставки на обрані події та/або вказані коефіцієнти.
            details.custom-drop.detail__drop
              summary.custom-drop-title(data-translate="detailDropTitle") Детальніше про "Афіша прогнозів"
              .custom-drop-txt(data-translate="detailDropTxt")
                .custom-drop-txt-wrap
                    p 1. Натисни кнопку «Взяти участь».
                        span Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Натисни кнопку «Взяти участь» на сторінці акції.
                    p 2. Роби ставки на спортивні події на казино.
                        span З 23 жовтня по 19 листопада 2023 року роби ставки протягом 4-х акційних тижнів на спортивні події та крути слоти в казино у розділах Спорт, LIVE та Казино та заробляй по 1 балу за кожні 200 UAH. Ставки на спортивні події повинні бути від 200 UAH розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій), без використання «CashOut» та «Повернення ставки».Ставки в розділі Казино повинні бути від 5 UAH.
                    p 3. Отримуй бали та вигравай призи.
                        span Чим більше балів, тим більше шансів здобути приз. Бали нараховуватимуться та відображатимуться в таблиці «Результати». Після завершення кожного Акційного тижня перших 300 переможців, які наберуть найбільше балів, матимуть право на отримання бонусних призів.
                    p 4. Накопичуй квитки та приймай участь у розіграші.
                        span Щотижня приймай участь в розіграші спортивних призів Акції. Квитки нараховуватимуться та відображатимуться в таблиці «Результати» за бали. Отримуй за кожні 5 балів по 1 квитку. Чим більше квитків, тим більше шансів виграти приз. Щотижня приймай участь в розіграші спортивних призів Акції. Розіграш буде проведено в онлайн-трансляцію на YouTube з посиланням на відео на сторінці Акції. Переможці розіграшу будуть опубліковані  в таблиці “Результати” протягом 72 годин після закінчення акційного тижня та відео розіграшу буде опубліковано на офіційному каналі платформи YouTube за посиланням <a href="https://www.youtube.com/@favbetua">https://www.youtube.com/@favbetua</a>.







