.fav__page#forecastPoster
    .welcome
        .welcome__bg
        .welcome__container
            .welcome__wrap
                .welcome__title
                    img(src='https://fav-prom.com/html/forecast-poster/img/welcome/title.svg' alt='FAVBET')
                    .welcome__sub(data-translate="ps")
                .welcome__subtitle(data-translate="welcomeSub")
                .welcome__text(data-translate="welcomeTxt")
        .welcome__row.hide(id="draggableContainer")
        .welcome__btns.hide
            img(src='https://fav-prom.com/html/forecast-poster/img/welcome/btns.svg' alt='buttons')
        a(href="/login/" role="button" data-translate="loginBtn").welcome__btn.custom-btn.authBtn
        .welcome__btn.custom-btn.predictBtn.hide(role ="button" data-translate="eventsBtn")
        .welcome__bet
            .welcome__bet-txt #[span(data-translate="added")] #[p #[span.counter] #[span.events]]
            a(href="/sports/sport/soccer/?openbs=1" role="button" data-translate="betBtn").welcome__bet-btn.custom-btn
    .detail
        .detail__container
            .detail__text(data-translate="attentionTxt")
            details.custom-drop.detail__drop
              summary.custom-drop-title(data-translate="rulesDropTitle")
              .custom-drop-txt
                .custom-drop-txt-wrap(data-translate="rulesDropTxt")




